<section class="u-align-right u-clearfix u-image u-section-1" id="carousel_e897" data-image-width="1280" data-image-height="853">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1" style="margin-right: 70px;">
        <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1"> Make An Appointment</h3>
        <p class="u-text u-text-body-alt-color u-text-default u-text-2"> Get in touch and discover how we can help. We aim to be in touch</p>
        <div class="u-border-8 u-border-palette-3-base u-form u-form-1" style="width: 600px; align-self: flex-end;">
          <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" source="email" name="form" style="padding: 30px;">
            <div class="u-form-group u-form-name">
              <label for="name-2137" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Enter your Name" id="name-2137" name="name" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-text-body-alt-color" required="">
            </div>
            <div class="u-form-email u-form-group">
              <label for="email-2137" class="u-form-control-hidden u-label"></label>
              <input type="email" placeholder="Enter a valid email address" id="email-2137" name="email" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-text-body-alt-color" required="">
            </div>
            <div class="u-form-group u-form-message">
              <label for="message-2137" class="u-form-control-hidden u-label"></label>
              <textarea placeholder="Enter your message" rows="4" cols="50" id="message-2137" name="message" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-text-body-alt-color" required=""></textarea>
            </div>
            <div class="u-align-right u-form-group u-form-submit">
              <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-white u-btn-1">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
      </div>
    </section>